.rentarProducto {
    position: absolute;
    width: 80%;
    left: 20%;
}

.nombreProducto {
    position: absolute;
    width: 959px;
    height: 62px;
    left: 62px;
    top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

.imagenProducto {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 62px;
    top: 104px;
    object-fit: fill;
}

.tabla{
    position: absolute;
    width: 500px;
    height: 400px;
    left: 400px;
    top: 200px;
}

table {
    width: 150%;
    border: 1px solid #000;

 }
thead, tfoot {
    
    color: white;
    font-family: 'Rock Salt', cursive;
  }
  
  th, td {
    
   border: 1px solid #000;
   border-collapse: collapse;
  }